<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		
		<listener class-name="listeners.Listeners"></listener>
		
	</listeners>
	
	
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.OnewayTrip_And_BookingDetails__Test"/>
      <class name="testcases.Validate_Fields_Test"/>
      <class name="testcases.Round_Trip_And_BookingDetails_Test"/>
      <class name="testcases.Sign_Up_Test"/>
      <class name="testcases.Login_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
